* {
  background-color:bisque;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
  font-family: Georgia, 'Times New Roman', Times, serif;

}

header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}
